<p id="notice"><%= notice %></p>

<h1>Listing Roles</h1>

<%= form_tag do %>
	<% @roles.each do |role| %>
		<%= check_box_tag 'role_ids[]', role.id %>
		<%= role.name %><br />
	<% end %>
	<%= submit_tag %>
<% end %>